# 1.Import library

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [3]:
# Creat the path
path = r'/Users/nhungphamthi/Documents/data analytis/Achievement 4 Project'

In [5]:
customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'))

In [7]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   First Name    194950 non-null  object
 2   Surnam        206209 non-null  object
 3   Gender        206209 non-null  object
 4   STATE         206209 non-null  object
 5   Age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

# 4. Change name of columns
Based on information above, I think the name of columns should be changed, but each column has its a given value for analysis, so I dont drop any column.

In [11]:
customers.rename(columns = {'First Name' : 'first_name','Surnam' : 'surname', 'Gender' : 'gender', 'Age' : 'age', 'n_dependants' : 'number_dependant', 'STATE' : 'state', 'fam_status' : 'marital_status'}, inplace = True)

In [13]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           206209 non-null  int64
 1   first_name        194950 non-null  object
 2   surname           206209 non-null  object
 3   gender            206209 non-null  object
 4   state             206209 non-null  object
 5   age               206209 non-null  int64
 6   date_joined       206209 non-null  object
 7   number_dependant  206209 non-null  int64
 8   marital_status    206209 non-null  object
 9   income            206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

# 5. Complete the fundamental data quality and consistency checks

In [15]:
# Checking for mixed data-types in each column
for col in customers.columns.tolist():
  weird = (customers[[col]].map(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (customers[weird]) > 0:
    print (col)

first_name

In [17]:
# The output revealed that the 'first_name' column has mixed data-types that need to be addressed
customers['first_name'] = customers['first_name'].astype('str')

In [19]:
# The 'user_id' column, while not containing mixed data-types, is still improperly listed as an integer
customers['user_id'] = customers['user_id'].astype('str')

In [21]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           206209 non-null  object
 1   first_name        206209 non-null  object
 2   surname           206209 non-null  object
 3   gender            206209 non-null  object
 4   state             206209 non-null  object
 5   age               206209 non-null  int64
 6   date_joined       206209 non-null  object
 7   number_dependant  206209 non-null  int64
 8   marital_status    206209 non-null  object
 9   income            206209 non-null  int64
dtypes: int64(3), object(7)
memory usage: 15.7+ MB

In [23]:
# resize data
customers['age'] = customers['age'].astype('int32')
customers['number_independant'] = customers['number_dependant'].astype('int32')
customers['income'] = customers['income'].astype('int32')

In [25]:
# Check for missing data
customers.isnull().sum()

user_id               0
first_name            0
surname               0
gender                0
state                 0
age                   0
date_joined           0
number_dependant      0
marital_status        0
income                0
number_independant    0
dtype: int64

In [27]:
for col in customers.columns.tolist():
  weird = (customers[[col]].map(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (customers[weird]) > 0:
    print (col)

In [29]:
# Check for full-duplicates
customers_dups = customers[customers.duplicated()]

In [31]:
customers_dups

Empty DataFrame
Columns: [user_id, first_name, surname, gender, state, age, date_joined, number_dependant, marital_status, income, number_independant]
Index: []

In [33]:
# Perform a descriptive statistic check to ensure everything looks normal
customers.describe()

                 age  number_dependant         income  number_independant
count  206209.000000     206209.000000  206209.000000       206209.000000
mean       49.501646          1.499823   94632.852548            1.499823
std        18.480962          1.118433   42473.786988            1.118433
min        18.000000          0.000000   25903.000000            0.000000
25%        33.000000          0.000000   59874.000000            0.000000
50%        49.000000          1.000000   93547.000000            1.000000
75%        66.000000          3.000000  124244.000000            3.000000
max        81.000000          3.000000  593901.000000            3.000000

In [35]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   user_id             206209 non-null  object
 1   first_name          206209 non-null  object
 2   surname             206209 non-null  object
 3   gender              206209 non-null  object
 4   state               206209 non-null  object
 5   age                 206209 non-null  int32
 6   date_joined         206209 non-null  object
 7   number_dependant    206209 non-null  int64
 8   marital_status      206209 non-null  object
 9   income              206209 non-null  int32
 10  number_independant  206209 non-null  int32
dtypes: int32(3), int64(1), object(7)
memory usage: 14.9+ MB

# 6. Combine your customer data with the rest of your prepared Instacart data

In [37]:
# Check for full-duplicates
customers_dups = customers[customers.duplicated()]

In [39]:
# Import the rest of the prepared Instacart data
orders_products = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data','ordes_products_merged_Ex4.8.pkl'))

In [41]:
# check infor
orders_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32404859 entries, 0 to 32404858
Data columns (total 24 columns):
 #   Column                      Dtype
---  ------                      -----
 0   order_id                    int32
 1   user_id                     int32
 2   order_number                int8
 3   orders_day_of_the_week      int8
 4   order_hour_of_day           int8
 5   days_since_prior_order      float32
 6   new_customer                bool
 7   product_id                  int32
 8   add_to_cart_order           int32
 9   reordered                   int8
 10  product_name                object
 11  aisle_id                    int32
 12  department_id               int32
 13  prices                      float32
 14  price_range_loc             object
 15  busiest_day                 object
 16  busiest_days                object
 17  busiest_period_of_day       object
 18  max_order                   int8
 19  loyalty_flag                object
 20  avg_product_price           float32
 21  spending_flag               object
 22  median_days_between_orders  float32
 23  order_frequency_flag        object
dtypes: bool(1), float32(4), int32(6), int8(5), object(8)
memory usage: 3.3+ GB

In [47]:
# both dataframes have same column "user_id", but the datatype of this column are not the same, so I change the datatype
orders_products['user_id'] = orders_products['user_id'].astype('str')

In [49]:
orders_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32404859 entries, 0 to 32404858
Data columns (total 24 columns):
 #   Column                      Dtype
---  ------                      -----
 0   order_id                    int32
 1   user_id                     object
 2   order_number                int8
 3   orders_day_of_the_week      int8
 4   order_hour_of_day           int8
 5   days_since_prior_order      float32
 6   new_customer                bool
 7   product_id                  int32
 8   add_to_cart_order           int32
 9   reordered                   int8
 10  product_name                object
 11  aisle_id                    int32
 12  department_id               int32
 13  prices                      float32
 14  price_range_loc             object
 15  busiest_day                 object
 16  busiest_days                object
 17  busiest_period_of_day       object
 18  max_order                   int8
 19  loyalty_flag                object
 20  avg_product_price           float32
 21  spending_flag               object
 22  median_days_between_orders  float32
 23  order_frequency_flag        object
dtypes: bool(1), float32(4), int32(5), int8(5), object(9)
memory usage: 3.4+ GB

In [51]:
orders_products_customers = orders_products.merge(customers, on = 'user_id', indicator = True)

In [54]:
orders_products_customers.shape

(32404859, 35)

In [56]:
orders_products_customers.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,surname,gender,state,age,date_joined,number_dependant,marital_status,income,number_independant,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,...,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,3,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,...,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,3,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,...,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,3,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,...,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,3,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,...,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,3,both

In [58]:
orders_products_customers = orders_products_customers.drop (['_merge'], axis = 1)

In [60]:
orders_products_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32404859 entries, 0 to 32404858
Data columns (total 34 columns):
 #   Column                      Dtype
---  ------                      -----
 0   order_id                    int32
 1   user_id                     object
 2   order_number                int8
 3   orders_day_of_the_week      int8
 4   order_hour_of_day           int8
 5   days_since_prior_order      float32
 6   new_customer                bool
 7   product_id                  int32
 8   add_to_cart_order           int32
 9   reordered                   int8
 10  product_name                object
 11  aisle_id                    int32
 12  department_id               int32
 13  prices                      float32
 14  price_range_loc             object
 15  busiest_day                 object
 16  busiest_days                object
 17  busiest_period_of_day       object
 18  max_order                   int8
 19  loyalty_flag                object
 20  avg_product_price           float32
 21  spending_flag               object
 22  median_days_between_orders  float32
 23  order_frequency_flag        object
 24  first_name                  object
 25  surname                     object
 26  gender                      object
 27  state                       object
 28  age                         int32
 29  date_joined                 object
 30  number_dependant            int64
 31  marital_status              object
 32  income                      int32
 33  number_independant          int32
dtypes: bool(1), float32(4), int32(8), int64(1), int8(5), object(15)
memory usage: 5.5+ GB

In [62]:
orders_products_customers['order_id'] = orders_products_customers['order_id'].astype('int8')
orders_products_customers['product_id'] = orders_products_customers['product_id'].astype('int8')
orders_products_customers['add_to_cart_order'] = orders_products_customers['add_to_cart_order'].astype('int8')
orders_products_customers['aisle_id'] = orders_products_customers['aisle_id'].astype('int8')
orders_products_customers['department_id'] = orders_products_customers['department_id'].astype('int8')
orders_products_customers['age'] = orders_products_customers['age'].astype('int8')
orders_products_customers['number_independant'] = orders_products_customers['number_independant'].astype('int8')
orders_products_customers['income'] = orders_products_customers['income'].astype('int8')

In [64]:
orders_products_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32404859 entries, 0 to 32404858
Data columns (total 34 columns):
 #   Column                      Dtype
---  ------                      -----
 0   order_id                    int8
 1   user_id                     object
 2   order_number                int8
 3   orders_day_of_the_week      int8
 4   order_hour_of_day           int8
 5   days_since_prior_order      float32
 6   new_customer                bool
 7   product_id                  int8
 8   add_to_cart_order           int8
 9   reordered                   int8
 10  product_name                object
 11  aisle_id                    int8
 12  department_id               int8
 13  prices                      float32
 14  price_range_loc             object
 15  busiest_day                 object
 16  busiest_days                object
 17  busiest_period_of_day       object
 18  max_order                   int8
 19  loyalty_flag                object
 20  avg_product_price           float32
 21  spending_flag               object
 22  median_days_between_orders  float32
 23  order_frequency_flag        object
 24  first_name                  object
 25  surname                     object
 26  gender                      object
 27  state                       object
 28  age                         int8
 29  date_joined                 object
 30  number_dependant            int64
 31  marital_status              object
 32  income                      int8
 33  number_independant          int8
dtypes: bool(1), float32(4), int64(1), int8(13), object(15)
memory usage: 4.8+ GB

In [66]:
orders_products_customers.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_customers.pkl'))